/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
   
   
   @import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
	font-family: "Brandon-bold";
	src: url("../themes/default/assets/fonts/Brandon_bld.eot");
	src: url("../themes/default/assets/fonts/Brandon_bld.eot?#iefix") format('embedded-opentype'), url("../themes/default/assets/fonts/Brandon_bld.woff") format('woff'), url("../themes/default/assets/fonts/Brandon_bld.ttf") format('ttf');
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-decoration: inherit;
	text-transform: none;
}
html, button, input, select, textarea {
	color: #222;
}
body {
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
 background: #b3d4fc;
 text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
	vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
/* ==========================================================================
   One Page Scroll with Animations styles
   ========================================================================== */
/* Code Samples */
pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	background: #faf8f0;
	font-size: 14px;
}
code {
	display: block;
	padding: 0.5em 1em;
	border: 1px solid #bebab0;
}
body, html {
	height: 100%;
	min-height: 100%;
}
.loading {
	background: url('../img/ico_loading.gif') no-repeat center center;
}
#demo-content {
}
section {
	opacity: 0;
	-webkit-transition: opacity .6s;
	-webkit-transition-delay: .2s;
	-moz-transition: opacity .6s;
	-moz-transition-delay: .2s;
	-o-transition: opacity .6s;
	-o-transition-delay: .2s;
	transition: opacity .6s;
	transition-delay: .2s;
}
.loaded section {
	opacity: 1;
}
section h2 {
	font-size: 35px;
	font-weight: 300;
	color: #fff;
	margin: 0;
	padding: 0;
	line-height: 1em;
}
section p {
	
	margin:20px 0!important;
	font-size: 15px;
	line-height: 1.6316;
	color: #333;
}
.section-content, .fake-content {
	display: block;
	
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.copy-container {
	position: absolute;
	top: 45%;
	margin: 0 auto;
	width: 100%;
	z-index: 1;
}
.images-container {
	display: block;
	margin-top: 10%;
	z-index: 1;
}
/* Fade in animation - Slide 1 */
#fadeInAnim {
	background-color: #26a69a!important;
	position: none!important;
	background: url(../../examples/assets/images/bg-1) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}
#fadeInAnim .copy-container {
}
#fadeInAnim img {
	position: absolute;
	max-width:100%;
}
.fadeIn {
}
/* Reveal animation - Slide 2 */


#revealAnim {
	background-color: #f44336!important;
	background: url(../../examples/assets/images/bg-2.png) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}
#revealAnim .copy-container {
	top: 28%!important;
}
#revealAnim .images-container {
}
#revealAnim img {
	float: left;
	position: relative;
	z-index: 1;
	-webkit-transition: -webkit-transform .6s .3s;
	-moz-transition: -moz-transform .6s .3s;
	transition: transform .6s .3s;
	max-width: 100%;
}
#revealAnim .images-container .back {
	z-index: 2;
	-webkit-transform: translate3d(-40%, 0, 0);
	-moz-transform: translate3d(-40%, 0, 0);
	transform: translate3d(-40%, 0, 0);
}
#revealAnim .images-container .front {
	-webkit-transform: translate3d(40%, 0, 0);
	-moz-transform: translate3d(40%, 0, 0);
	transform: translate3d(40%, 0, 0);
}
#revealAnim .images-container .side {
	-webkit-transform: translate3d(-338%, 0, 0);
	-moz-transform: translate3d(-338%, 0, 0);
	transform: translate3d(-338%, 0, 0);
}
.viewing-page-2 #revealAnim .images-container img {
	-webkit-transform: translate3d(0, 0, 0) !important;
	-moz-transform: translate3d(0, 0, 0) !important;
	transform: translate3d(0, 0, 0) !important;
}
/* Between Slides Animation - Slide 3-4 */
#betweenSlidesAnimStart {
	background: #64B5F6;
	    overflow: hidden;
}



#betweenSlidesAnimStart .copy-container{top: 30%;}
#betweenSlidesAnimMiddle.bg .copy-container{top: 20%!important;}
#betweenSlidesAnimEnd .copy-container{top: 20%;}
#betweenSlidesAnimEnd {
	background-color: #66bb6a;
	    overflow: hidden;
}
.bg {
	background: #fbbd08;
}
#betweenSlidesAnimMiddle {
	    overflow: hidden;
}
#betweenSlidesAnimStart .copy-container {
	
}
#betweenSlidesAnimStart .images-container {
	
}
#betweenSlidesAnimStart .images-container img, #betweenSlidesAnimEnd .images-container img, #betweenSlidesAnimMiddle .images-container img {
	float: left;
	position: relative;
	z-index: 1;
	-webkit-transition: -webkit-transform .9s 0;
	-moz-transition: -moz-transform .9s 0;
	transition: transform .9s 0;
}
#betweenSlidesAnimStart .pink {
	-webkit-transform: translate3d(0, 460px, 0);
	-moz-transform: translate3d(0, 460px, 0);
	transform: translate3d(0, 460px, 0);
}
#betweenSlidesAnimStart .yellow {
	-webkit-transform: translate3d(0, 260px, 0);
	-moz-transform: translate3d(0, 260px, 0);
	transform: translate3d(0, 260px, 0);
}
#betweenSlidesAnimStart .blue {
	margin-top: 30px;
	-webkit-transform: translate3d(0, 200px, 0);
	-moz-transform: translate3d(0, 200px, 0);
	transform: translate3d(0, 200px, 0);
}
.viewing-page-3 #betweenSlidesAnimStart .pink {
	-webkit-transform: translate3d(0, -160px, 0) !important;
	-moz-transform: translate3d(0, -160px, 0) !important;
	transform: translate3d(0, -160px, 0) !important;
}
.viewing-page-3 #betweenSlidesAnimStart .yellow {
	-webkit-transform: translate3d(0, 0, 0) !important;
	-moz-transform: translate3d(0, 0, 0) !important;
	transform: translate3d(0, 0, 0) !important;
}
.viewing-page-3 #betweenSlidesAnimEnd .copy-container {
	opacity: 9;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s;
	-webkit-transition-delay: .0s;
	-moz-transition-delay: .0s;
	-o-transition-delay: .0s;
	transition-delay: .0s;
}
.viewing-page-3 #betweenSlidesAnimMiddle .copy-container {
	opacity: 0;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s;
	-webkit-transition-delay: .0s;
	-moz-transition-delay: .0s;
	-o-transition-delay: .0s;
	transition-delay: .0s;
}
#betweenSlidesAnimEnd .images-container {

}
#betweenSlidesAnimEnd .copy-container {
	
	

	opacity: 9;
	-webkit-transition: opacity .6s;
	-webkit-transition-delay: .8s;
	-moz-transition: opacity .6s;
	-moz-transition-delay: .8s;
	-o-transition: opacity .6s;
	-o-transition-delay: .8s;
	transition: opacity .6s;
	transition-delay: .8s;
}
#betweenSlidesAnimEnd .fake-content .images-container {
	
}
.viewing-page-3 .fake-content {
	top: -100%;
	-webkit-transition: top .9s;
	-moz-transition: top .9s;
	-o-transition: top .9s;
	transition: top .9s;
}
.viewing-page-3 .fake-content .green {
	-webkit-transform: translate3d(0, 160px, 0) !important;
	-moz-transform: translate3d(0, 160px, 0) !important;
	transform: translate3d(0, 160px, 0) !important;
}
.viewing-page-4 .fake-content {
	top: 0;
	-webkit-transition: top .9s;
	-moz-transition: top .9s;
	-o-transition: top .9s;
	transition: top .9s;
}
.viewing-page-4 .fake-content .green {
	-webkit-transform: translate3d(0, 0, 0) !important;
	-moz-transform: translate3d(0, 0, 0) !important;
	transform: translate3d(0, 0, 0) !important;
}
.viewing-page-4 #betweenSlidesAnimStart .pink, .viewing-page-4 #betweenSlidesAnimStart .yellow {
	-webkit-transform: translate3d(0, -160px, 0) !important;
	-moz-transform: translate3d(0, -160px, 0) !important;
	transform: translate3d(0, -160px, 0) !important;
}
.viewing-page-4 #betweenSlidesAnimEnd .copy-container {
	opacity: 1;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}
.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
/*
 * ExtEnds the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.clearfix:after {
	clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
 *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
/* Style adjustments for viewports that meet the condition */
}

@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
* {
	background: transparent !important;
	color: #000 !important; /* Black prints faster: h5bp.com/s */
	box-shadow: none !important;
	text-shadow: none !important;
}
a, a:visited {
	text-decoration: underline;
}
a[href]:after {
	content: " (" attr(href) ")";
}
abbr[title]:after {
	content: " (" attr(title) ")";
}
/*
     * Don't show links for images, or javascript/internal links
     */

.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
	content: "";
}
pre, blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}
thead {
	display: table-header-group; /* h5bp.com/t */
}
tr, img {
	page-break-inside: avoid;
}
img {
	max-width: 100% !important;
}
@page {
	margin: 0.5cm;
}
p, h2, h3 {
	orphans: 3;
	widows: 3;
}
h2, h3 {
	page-break-after: avoid;
}
}
.back-link a {
	color: #4ca340;
	text-decoration: none;
	border-bottom: 1px #4ca340 solid;
}
.back-link a:hover, .back-link a:focus {
	color: #408536;
	text-decoration: none;
	border-bottom: 1px #408536 solid;
}
h1 {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
	margin: 0;
	font-size: 14px;
	font-family: "Brandon-bold";
	color: #1c1d1e;
	font-size: 32px;
	margin-bottom: 3px;
}
h2 {
	color: #fff;
	font-family: "Brandon-bold";
	font-weight: normal;
	padding-left: 80px;
}
.entry-header .inner {
	text-align: left;
	width: 100%;
}
.entry-header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}
.padding-none {
	padding: 0!important;
}
.padding-row {
	padding-left: 0!important;
	padding-right: 0!important;
}
.logo-index {
	height: 30px;
	max-width: 100%;
}
.reg {
	width: 80%;
	margin: 0 auto!important;
}
#diamond {
 width: 100px;
height: 100px;
background:#F5F5F5 none repeat scroll 0% 0%;
margin: 0px auto 0px 50%;
transform: rotate(-45deg);
transform-origin: 0px 100% 0px;
border-radius: 20px;
/* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
/* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
	float:left;

    }
	
	
	
	#diamond i.icon {

color:#EF5350;
font-size:55px;
text-align:center;
font-weight:normal;
    

transform: rotate(40deg);
transform-origin: 0px 100% 0px;

/* Rotate */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
/* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    margin-top: 5px;
    margin-left: -5px;
	width: 1.18em;
  height: 1em;

    }
	
	
#betweenSlidesAnimMiddle #diamond {
  
    margin: 10% auto 0px 9%;
}

#betweenSlidesAnimMiddle h3{
  
    margin-bottom:20px;
}
footer{

    position: fixed;
    bottom: 0;
	right:10px;
    font-size: 14px;
    
    color: #fff;
    text-align: right;
    width: 100%;
    padding: 10px 0;
    -webkit-transition: all 2000ms ease;
    -moz-transition: all 2000ms ease;
    -ms-transition: all 2000ms ease;
    -o-transition: all 2000ms ease;
    transition: all 2000ms ease;
}
footer a{

 
    color: #fff;
}

@media only screen and (max-width: 767px) {

#fadeInAnim img {
    position: absolute;
    max-width: 44%!important;
    bottom: 0!important;}
	
	
	
	body, html {
  margin: 0;
  overflow-y: auto!important;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}


#fadeInAnim {height:auto!important}

#fadeInAnim .copy-container {top:45%!important;
}


#revealAnim {}

#revealAnim .copy-container {top:45%!important;
}
