.cmodal-show{
    display: block;
    padding-left: 15px;
}

#commentForm #description {
    width: 560px;
    min-height: 100px;
}

.modal {
    bottom: 0;
    display: none;
    left: 0;
    outline: 0 none;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1050;
}