/*!
 * Custom css for developer
 */

.filepicker.dropzone{
	display:none;
}

/* home page fixes */
.home .ui.input input {
    text-transform: none;
}

/* css fix in eom  page */
.card .content .header a {
    color: inherit;
}

.extra.content.voted {
    background-color: #FBBD08 !important;
    color: #fff !important;
}

.extra.content.voted .icon:before {
    content: "\f00c" !important;
}

.ui.card>.image>img, .ui.cards>.card>.image>img {
    height: 200px;
    object-fit: contain;
    background: #fff;
}

.ui.tiny.images .image, .ui.tiny.images img, .ui.tiny.images svg, .ui.tiny.image {
    height: 80px;
    object-fit: cover;
}

.my-info.teams {
    margin: 10px 0;
}
