html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

a {
  color: #00e;
}

a:visited {
  color: #551a8b;
}

a:hover {
  color: #06e;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.nocallout {
  -webkit-touch-callout: none;
}

.pressed {
  background-color: rgba(0, 0, 0, 0.7);
}

textarea[contenteditable] {
  -webkit-appearance: none;
}

.gifhidden {
  position: absolute;
  left: -100%;
}

.ir {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
}

.ir br {
  display: none;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.entrybox {
  width: 100%;
  margin-bottom: 71.796875px;
  margin-bottom: 5vw;
  align-self: center;
}

.entrybox__header {
  text-align: center;
  font-size: 50.5679012345679px;
  font-size: 3.506789248753209vw;
}

.entrybox__input {
  display: block;
  margin: 0 auto;
  width: 718px;
  width: 50vw;
  height: 71.796875px;
  height: 5vw;
  line-height: 71.796875px;
  line-height: 5vw;
  font-size: 37.925925925925924px;
  font-size: 2.6300919365649067vw;
  border-width: 0 0 2px 0;
  border-bottom: 2px solid #000;
}

.vote {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main-section {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16), 0 4px 8px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  border: 2px solid #000;
  margin: 14.36px;
  margin: 1vw;
  width: 50%;
}

.main-section__header {
  text-align: center;
  font-size: 37.925925925925924px;
  font-size: 2.6300919365649067vw;
}

.main-section__list {
  list-style: none;
}

.topic-item__topic {
  display: inline-block;
  font-size: 28.444444444444443px;
  font-size: 1.97256895242368vw;
}

.topic-item__button {
  display: inline-block;
  position: relative;
  font-size: 28.444444444444443px;
  font-size: 1.97256895242368vw;
  width: 28.444444444444443px;
  width: 1.97256895242368vw;
  height: 28.444444444444443px;
  height: 1.97256895242368vw;
  border-radius: 50%;
  border: none;
  margin: 0 28.44444px;
  margin: 0 1.97257vw;
  font-size: 16px;
  font-size: 1vw;
  color: #fff;
  float: right;
}

.topic-item__button--increment {
  background-color: #0f9d58;
}

.topic-item__button--decrement {
  background-color: #4285f4;
}

.topic-item__button--destroy {
  background-color: #db4437;
}

.scoreboard {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  border: 1px solid #000;
  margin: 14.36px;
  margin: 1vw;
  width: 40%;
}

.scoreboard__header {
  text-align: center;
  font-size: 37.925925925925924px;
  font-size: 2.6300919365649067vw;
}

.scoreboard__list {
  list-style: none;
}

.scoreboard__topic {
  display: inline-block;
  font-size: 28.444444444444443px;
  font-size: 1.97256895242368vw;
}

.scoreboard__count {
  margin-right: 28.444444444444443px;
  margin-right: 1.97256895242368vw;
  float: right;
}


.navigation {
  padding: 0 28.44444px;
  padding: 0 1.97257vw;
  background: #666666 none repeat scroll 0 0;
}

.navigation__item {
  display: inline-block;
  text-decoration: none;
  padding: 14.36px 28.72px;
  padding: 1vw 1.5vw;
  color: #fff !important;
}

.navigation__item:visited {
  color: #000;
}

.navigation__item--logo {
  font-size: 34.13327980041504px;
  font-size: 2.367079030500787vw;
}

.navigation__item--active {
  color: #2196F3;
}

.login__header {
  text-align: center;
}

.login__fieldset {
  width: 359px;
  width: 25vw;
  margin: auto;
}

.login__input {
  display: inline-block;
  font-size: 24px;
  font-size: 1.6713092322vw;
  line-height: 48px;
  line-height: 3.3426184643vw;
  width: 100%;
  height: 48px;
  height: 3.3426184643vw;
  margin: 12px;
  margin: 0.8356546161vw;
}

.login__button {
  display: block;
  width: 240px;
  width: 15vw;
  height: 48px;
  height: 3.3426184643vw;
  font-size: 24px;
  font-size: 1.6713092322vw;
  line-height: 48px;
  line-height: 3.3426184643vw;
  border: none;
  text-align: center;
  margin: 12px auto;
  margin: 0.8356546161vw auto;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  text-decoration: none;
  color: #fff;
}

.login__button:hover, .login__button:visited {
  color: #fff;
}

.login__button--green {
  background-color: #0f9d58;
}

.login__hint {
  text-align: center;
}

.logout__header {
  text-align: center;
}

.about {
  padding: 0 48px;
  padding: 0 3.32871vw;
}

.about__header {
  font-size: 80.9086380004883px;
  font-size: 5.61086252235879vw;
}

.about__description {
  font-size: 25.59995985031128px;
  font-size: 1.77530927287559vw;
}


body {
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 0;
}

* {
  box-sizing: border-box;
}


.removeBtn {
    background: #f34949;
    border: none;
    padding: 5px;
}



.autocomplete {
    position: relative;
}
.autocomplete input {
    border: 1px solid #aaa;
    outline: 0 none;
    padding: 5px;
    width: 388px;
}
.autocomplete input:focus {
    border-color: #09c;
}
.loading .autocomplete__result {
    color: #bbb;
}
.autocomplete__result {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    box-shadow: 2px 1px 4px 1px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 68px;
    width: 388px;
}
.autocomplete__result ul {
    margin: 0;
    max-height: 200px;
    overflow: auto;
    padding: 0;
    width: 100%;
}
.autocomplete__result li {
    list-style: outside none none;
    padding: 5px;
}
.autocomplete__result li:hover {
    background: #fec none repeat scroll 0 0;
}
.autocomplete__result li.active {
    background: #ddd none repeat scroll 0 0;
}
.autocomplete__empty {
    padding: 5px;
}

