.cmodal-show{
    display: block;
    padding-left: 15px;
}

#commentForm #description {
    width: 560px;
    min-height: 100px;
}

.leftbar{
    width: 15%;
    right:auto;
    border: 0px solid transparent;
    background: #ECEFF1 none repeat scroll 0% 0%;
    box-shadow: none;
    height:100%;
    float:left;
    display: block;
}

.rightbar{
    width: 15%;
    background: #ECEFF1 none repeat scroll 0% 0%;
    left:auto;
    height:100%;
    float:left;
    display: block;
}

.middleContainer{
    width: 70%;
    height:100%;
    float:left;
    display: block;
}

.middleContainer .container ul, .middleContainer .container form {
    width: 85% !important;

}

.wrapper {
    width: 100%;
    height:100%;
}


meter {
    width: 100%;
}

.styled meter {
    /* Reset the default appearance */

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30%;
    height: 30px;
    /* For Firefox */

    background: #EEE;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
    border-radius: 3px;
}
/* WebKit */

.styled meter::-webkit-meter-bar {
    background: #EEE;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
    border-radius: 3px;
}

.styled meter::-webkit-meter-optimum-value,
.styled meter::-webkit-meter-suboptimum-value,
.styled meter::-webkit-meter-even-less-good-value {
    border-radius: 3px;
}

.styled meter::-webkit-meter-optimum-value {
    background: #CC4600;
}

.styled meter::-webkit-meter-suboptimum-value {
    background: #FFDB1A;
}

.styled meter::-webkit-meter-even-less-good-value {
    background: #86CC00;
}
/* Firefox */

.styled meter::-moz-meter-bar {
    border-radius: 3px;
}

.styled meter:-moz-meter-optimum::-moz-meter-bar {
    background: #CC4600;
}

.styled meter:-moz-meter-sub-optimum::-moz-meter-bar {
    background: #FFDB1A;
}

.styled meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: #86CC00;
}