.cmodal-show{
    display: block;
    padding-left: 15px;
}

#commentForm #description {
    width: 560px;
    min-height: 100px;
}

.leftbar{
    width: 15%;
    right:auto;
    border: 0px solid transparent;
    background: #ECEFF1 none repeat scroll 0% 0%;
    box-shadow: none;
    height:100%;
    float:left;
    display: block;
}

.rightbar{
    width: 15%;
    background: #ECEFF1 none repeat scroll 0% 0%;
    left:auto;
    height:100%;
    float:left;
    display: block;
}

.middleContainer{
    width: 70%;
    height:100%;
    float:left;
    display: block;
}

.middleContainer .container ul, .middleContainer .container form {
    width: 85% !important;

}

.wrapper {
    width: 100%;
    height:100%;
}